<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Tuotelista</servlet-name>
        <servlet-class>com.mycompany.webkauppa.TuotelistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaOstoskoriin</servlet-name>
        <servlet-class>com.mycompany.webkauppa.LisaaOstoskoriinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TyhjennaOstoskori</servlet-name>
        <servlet-class>com.mycompany.webkauppa.TyhjennaOstoskoriServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaksaOstokset</servlet-name>
        <servlet-class>com.mycompany.webkauppa.MaksaOstoksetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaOstoskorista</servlet-name>
        <servlet-class>com.mycompany.webkauppa.PoistaOstoskoristaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hallinta</servlet-name>
        <servlet-class>com.mycompany.webkauppa.HallintaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuutaTuotteenSaldoa</servlet-name>
        <servlet-class>com.mycompany.webkauppa.MuutaTuotteenTietojaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaTuote</servlet-name>
        <servlet-class>com.mycompany.webkauppa.LisaaTuoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tuotteet</servlet-name>
        <servlet-class>com.mycompany.webkauppa.service.TuotteetJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuoteXML</servlet-name>
        <servlet-class>com.mycompany.webkauppa.service.TuoteXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tuotelista</servlet-name>
        <url-pattern>/Tuotelista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaOstoskoriin</servlet-name>
        <url-pattern>/LisaaOstoskoriin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TyhjennaOstoskori</servlet-name>
        <url-pattern>/TyhjennaOstoskori</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaksaOstokset</servlet-name>
        <url-pattern>/MaksaOstokset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaOstoskorista</servlet-name>
        <url-pattern>/PoistaOstoskorista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hallinta</servlet-name>
        <url-pattern>/Hallinta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuutaTuotteenSaldoa</servlet-name>
        <url-pattern>/MuutaTuotteenSaldoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaTuote</servlet-name>
        <url-pattern>/LisaaTuote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tuotteet</servlet-name>
        <url-pattern>/Tuotteet.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuoteXML</servlet-name>
        <url-pattern>/Tuotteet.xml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
